:root{
    --layout-width: 25%;
}
body {
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: Arial, sans-serif;
  }

  #toolbar {
    width: var(--layout-width);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #f4f4f4;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }

  #toolbar label, #toolbar button, #toolbar input, #toolbar span{
    gap: 10px;
    height: 30px;
  }

  #toolbar-top>*{
    margin:2px;
  }
  #toolbar-top label{
    margin-bottom: 20px;
  }

  #toolbar-top .label-section {
    margin-top: 20px;
  }

  #toolbar-top .row {
    display: flex;
    width: 100%;
    /* gap: 10px; */
  }

  #toolbar-top .stretch {
    align-items: flex-start;
    justify-content: space-evenly;
    flex-wrap: nowrap;
  }
  #toolbar-top .stretch>*{
    width: 50%;
  }

  #toolbar-top .row>input{
    width: 30%
  }

  #toolbar-top .label {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
    background-color: #fff;
  }

  #toolbar-top .label.selected {
    background-color: #007bff;
    color: #fff;
  }

  svg.logo{
    width: 20px;
  }

  a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
  }


  #canvas-container {
    width: calc(1 - var(--layout-width));
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eaeaea;
  }

  #digitizer-canvas {
    max-width: 100%;
    max-height: 100%;
  }

